html {
  .astro,
  .html {
    background-color: #7f4932;
    transition: var(--transition-bg);
  }

  .css {
    background-color: #324b7f;
    transition: var(--transition-bg);
  }

  .flutter,
  .typescript,
  .react {
    background-color: #32547f;
    transition: var(--transition-bg);
  }

  .material-ui {
    background-color: #2c5f8a;
    transition: var(--transition-bg);
  }

  .tailwindcss {
    background-color: #3587a4;
    transition: var(--transition-bg);
  }

  .sass {
    background-color: #913c67;
    transition: var(--transition-bg);
  }

  .open-props,
  .nextjs {
    background-color: #454a67;
    transition: var(--transition-bg);
  }

  .javascript {
    background-color: #b29037;
    transition: var(--transition-bg);
  }

  .dart {
    background-color: #2a7c85;
    transition: var(--transition-bg);
  }

  .php {
    background-color: #5b5b5b;
    transition: var(--transition-bg);
  }

  .wordpress {
    background-color: #3f4e67;
    transition: var(--transition-bg);
  }

  .firebase {
    background-color: #b38732;
    transition: var(--transition-bg);
  }

  .java {
    background-color: #ae4b3d;
    transition: var(--transition-bg);
  }

  .android-studio {
    background-color: #4b8a5e;
    transition: var(--transition-bg);
  }

  .pwa {
    background-color: #d2d2d2;
    color: #000;
    transition: var(--transition-bg), var(--transition-text);
  }
}

html.dark {
  .astro,
  .html {
    background-color: #e6b9a6;
  }

  .css {
    background-color: #6f93d9;
  }

  .flutter,
  .typescript,
  .react {
    background-color: #95b8d9;
  }

  .material-ui {
    background-color: #80a8d0;
  }

  .tailwindcss {
    background-color: #9dcdd8;
  }

  .sass {
    background-color: #d184aa;
  }

  .open-props,
  .nextjs {
    background-color: #a5abc9;
  }

  .javascript {
    background-color: #dbc57a;
  }

  .dart {
    background-color: #7ebac0;
  }

  .php {
    background-color: #a3a3a3;
  }

  .wordpress {
    background-color: #8f99b4;
  }

  .firebase {
    background-color: #e3c187;
  }

  .java {
    background-color: #df8677;
  }

  .android-studio {
    background-color: #86bf9b;
  }

  .pwa {
    background-color: #646464;
    color: #fff;
  }
}
