---
import { Icon } from 'astro-icon/components'
---

<aside class="socials">
  <nav>
    <a href="https://github.com/SrSebax" aria-label="GitHub">
      <Icon name="github" size={28} />
    </a>
    <a href="https://www.linkedin.com/in/sebastian-londoño-mesa/" aria-label="LinkedIn">
      <Icon name="linkedin" size={28} />
    </a>
    <a href="mailto:sebaslondonomesa@gmail.com" aria-label="Mail">
      <Icon name="mail" size={28} />
    </a>
    <a href="https://www.instagram.com/sebax_lond/" aria-label="Instagram">
      <Icon name="instagram" size={28} />
    </a>
    <a href="https://wa.me/+573024247369" aria-label="WhatsApp">
      <Icon name="whatsapp" size={28} />
    </a>
  </nav>
</aside>

<style>
  .socials {
    display: none;

    @media (width >= 1200px) {
      display: initial;
      position: fixed;
      bottom: 0;
      left: 0;
      translate: 46px;

      & nav {
        display: flex;
        gap: 24px;
        flex-direction: column;

        &::after {
          content: '';
          background-color: var(--text-color);
          width: 1px;
          height: 127px;
          margin-inline: auto;
        }

        & a {
          color: var(--color-text);
          text-decoration: none;
          transition: var(--transition-text);

          &:hover {
            color: var(--text-description-color);
          }
        }
      }
    }
  }
</style>
